@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 0 20px;
  background-image: url('background1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}

nav .judul {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

header {
  display: inline;
  color: white;
}

image {
  width: 100%;
  height: 500px;
}

h2,
h3 {
  color: #00a2c6;
}

h4 {
  text-align: right;
  color: #00a2c6;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold;
}

nav {
  background-color: rgb(16, 207, 255);
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 50px;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 50%;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

nav ul li a {
  font-size: 0.9em;
}

nav a:hover {
  font-weight: bold;
  color: #a3eeff;
}

main {
  padding: 20px;
  overflow: auto;
}


p {
  text-align: justify;
  color: black;
}

.profile header {
  text-align: center;
}

.featured-image {
  float: left;
  width: 50%;
  height: 250px;
  padding-right: 15px;
  border-radius: 10px;
}

.profile img {
  width: 200px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  overflow: auto;
  background-color: whitesmoke;
}


#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

tr,
th,
td {
  text-align: left;
  color: #00a2c6;
}

article #more1,
#more2,
#more3,
#more4,
#more5 {
  display: none;
}

button {
  background-color: #00a2c6;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .judul {
    display: none;
  }

  nav ul {
    width: 70%;
  }

  #content,
  aside {
    width: 100%;
    padding: 0;
  }

  .featured-image {
    float: none;
    width: 100%;
  }
}


@media screen and (max-width: 576px) {
  .judul {
    display: inline;
  }

  nav ul {
    display: none;
  }

  .featured-image {
    float: none;
    width: 100%;
  }
}